*{
    text-align: center;
    font-family: 'Raleway' sans-serif;
    box-sizing: border-box;
    margin: 0;
}
header{
    text-align: center;
    display: block;
}

.banner{
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url(../images/banner.png); 
    width: 100%;
    height: 450px;
    background-color: black;
    background-size: cover;
    border-bottom: 1px solid #33A8DB80;
    text-align: center;
}
.banner .logo img {
    text-align: center;
    margin: auto;
    object-fit: contain;
    width: 200px;
    height: 200px;
    font-family: sans-serif;
    flex-shrink: 0;
    border-radius: 268px;
    background: rgba(0, 0, 0, 0.20);
    
    
}
 .banner h1{
    text-align: center;
    font-family: 'Raleway' sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    color: #33A8DB;
    text-align: center;
}
.banner p{
   text-align: center;
   color: white;
   font-size: 18px;
   font-family:sans-serif;
   text-align: center;
}
button{
color: #33A8DB;
font-family: Raleway;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 6.05px;
background-color: transparent;
border: 1px solid #33A8DB;
cursor: pointer;
}

main{
    background-color: black;
}

#course-content h2{
 text-align: center; 
 color: #33A8DB;
 font-family: Raleway;
 font-size: 32px;
 font-style: normal;
 font-weight: 700;
 line-height: normal;
 letter-spacing: 6.08px; 

}

#course-content p{
    text-align: center;
    color: white;
    font-size: 15;
}

.modules-list .module {
    display: inline-flex;
    width: 700px;
    padding: 10px 100px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 57px;
    border: 1px solid #33A8DB;
    background: #252525;
    box-shadow: -2px 6px 4px 0px rgba(0, 0, 0, 0.40) inset;
    color: #33A8DB;
    color: #FFF;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

}
 span{
  text-align: center;
  color: #33A8DB;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

 }

 #transform-world{
    width: 1539px;
    height: 560px;
    flex-shrink: 0;
    background: url(../images/woman-code.png), rgb(56, 56, 56) 50% / cover no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-top: 1px solid #33A8DB80;
    border-bottom: 1px solid #33A8DB80;
    padding: 200px;
 }

 section{ 
    margin: 0;
 }

 #transform-world p{
   text-align: left;
   color: #FFF;
   text-shadow: 3px 2px 0px #33A8DB;
   font-family: Raleway;
   font-size: 40px;
   font-style: normal;
   font-weight: 900;
   line-height: normal;
 }
p{
    color: white;
}

#professional-challenges h2{
    color: #33A8DB;
    text-align: center;
    font-family: Raleway;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 6.08px;
    
}
footer{
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)); 
    width: 100pz;
    height: 200px;
    background-color: black;
    background-size: cover;
    border-top: 1px solid #33A8DB80;
}
